        /* Estilos CSS para a barra de navegação */
        *, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: rgb(36,0,24);
            background: linear-gradient(90deg, rgba(36,0,24,0.9962185557816877) 0%, rgba(141,1,78,1) 97%);
        }
        
        ul.navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            gap: 20px;
            background-color: rgba(0,0,0,.6);
            overflow: hidden;
            position: fixed;
            width: 100svw;
        }

        li.nav-item a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li {
            text-decoration: none !important;
        }

        li.nav-item a:hover {
            background-color: #555;
        }

        /* Estilos CSS para o conteúdo */
        div.content {
            padding: 20px;
            margin: auto;
            width: 40%;
            background: #F6F6F6;
            padding: 30px 50px;
        }

        .image {
            text-align: center;
        }
        img {
            border-radius: 20%;
            border-width: 1px;
            border-style: solid;
            margin: 25px 0;
        }

        h1 {
            text-align: center;
            color: #E60965;
            margin: 20px 0;
        }

        .form {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        #assunto {
            height: 250px;
        }

        button {
            background-color: #E60965;
            width: 20%;
            height: 35px;
            align-self: center;
            margin-top: 25px;
            border-radius: 5%;
            border: none;
            text-transform: uppercase;
        }

        button:hover {
            background-color: black;
            color: white;
            cursor: pointer;
        }

        .formation-list, .portfolio-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 5%;
        }